$linkcolor : #202124;
$btncolor : #f8f9fa;

a {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: $linkcolor;
    text-decoration: none;
}
nav {
    text-align: right;
}

a:hover {
    text-decoration: underline;
}

body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: $linkcolor;
}

a:first-of-type {
    margin-left: 15px;
}

.searchbar {

    flex: 100%;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(100% - 40px);
    max-width: 584px;
    min-width: 360px;
    color: rgba(0, 0, 0, .87);
    font-size: 16px;
    padding: 0px 40px;

}

.input-wrapper {
    position: relative;
    width: calc(100% - 40px);
    max-width: 584px;
    min-width: 410px;
    margin: 0 auto;
}

#lens {
    position: absolute;
    top: 14px;
    left: 14px;
    height: 20px;
    filter: invert(69%) sepia(4%) saturate(463%) hue-rotate(169deg) brightness(92%) contrast(86%);
}

#microphone {
    position: absolute;
    top: 14px;
    right: -20px;
    height: 20px;
}

input[type=text]:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.btn {
    background-color: $btncolor;
    border: 1px solid $btncolor;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;

}

.btn:hover{
    border-width: 1px;
    border-color: #dadce0;
    box-shadow: #dadce0;
    box-shadow: 0 0px 2px rgb(32 33 36 / 28%);
}
.btn:active {
    border-width: 1px;
    border-color: #4285f4;
    
}



.bigsearch {
    text-align: center;
    padding: 20px;
}

img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    position: absolute;
    bottom: 0;
}

.picture_div {
    width: auto;
    width: 272px;
    margin: auto;
    position: relative;
    display: flex;
    min-height: 290px;
    justify-content: center;

}

div>p {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: absolute;
    left: 215px;
    bottom: 0;
    white-space: nowrap;
    margin: 0;
}

.appbar {
    margin: 25px 35px;
    justify-content: start;
}

#advs {
    margin-left: 10px;
    left: 0;
    color: #d93025;
    font-size: 20px;
}

hr {
    border-top: 1px solid #ebebeb;
    ;
}

.grid-container {
    display: grid;
    grid-template: auto/ 15% auto auto;
    grid-gap: 10px;

    background-color: transparent;
    padding: 20px;

}

.grid-container>div {
    background-color: transparent;
    justify-self: start;
    padding: 1px 8px;

}

#findpages {
    font-size: 16px;
    font-family: arial, sans-serif;
    padding: 28px;
}

label {
    font-size: 13px;

}

span {
    font-family: monospace;
}

.advinputline {
    max-width: 570px;
    min-width: 167px;
    width: calc(100% - 50px);
    margin: 0 20px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;

}


.item2 {
    width: 100%;
    ;
}

.item3 {
    font-family: arial, sans-serif;
    font-size: 11px;
    max-width: 360px;
    color: #666;
    border: 10px;
}


.grid-container>div>#btnblue {
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    float: right;
    margin: 10px 0;
    padding: 0 12px;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;

}
.grid-container>div>#btnblue:hover {
    border: 1px solid #2f5bb7;
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
}



#bntbluediv {
    justify-self: end;
}