{% extends "encyclopedia/layout.html" %}

{% block title %}
New entry
{% endblock %}

{% block body %}
<h1>Write your entry</h1>

<form method=POST action="{% url 'create' %}">
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" name="title" placeholder="Type in a Title">

    {%if error == True%}
    <span style="color: red;">Title already exist. Please select another title.</span>
    {% endif %}
    <br>
    <textarea name="create" placeholder="Type in your entry using Markdown syntax">{{content}}</textarea>
    <br>
    
        <input type="submit" value="Submit">
    
</form>

{% endblock %}