{% extends "auctions/layout.html" %}

{% block body %}
<h2>Select Category:</h2>
<form action="" method="post">
    {% csrf_token %}
    {%for category in categories%}
    <input type="radio" id="html" name="filter" value="{{category}}">
    <label for="{{category}}">{{category}}</label><br>
    {%endfor%}
    <button type="submit">Filter</button>
</form>
<h2>Active Listings</h2>
<ul>
    {% for listing in listings%}
    <li>
        {{listing.id}}) <a href="/{{listing.title}}">{{listing.title}}</a>: {{listing.description}}

    </li>

    {%endfor%}
</ul>

{% endblock %}